html {
  background-color: rgb(27, 26, 26);
}

.Header {
  text-align: center;
  background-color: rgb(112, 121, 187);
  border: 2px solid;
  border-radius: 1em;
  padding-top: 0.5em;
  margin: 3%;
  overflow:auto;
  /* background-color: rgb(53, 79, 79); */
}

.Header h1{
  color: rgb(233, 238, 242);
  font-size: 3em;
}
